html,
body {
  min-height: 100%;
}
html {
  background: rgb(86, 181, 133);
  background: linear-gradient(
    35deg,
    rgba(0, 158, 226, 1) 0%,
    rgba(86, 181, 133, 1) 100%
  );
  background-image: url(/img/global/back_tresk11.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app {
  width: 100%;
  height: 100%;
  background: url(/img/global/grain.png);
  position: absolute;
}

svg {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-page {
  min-height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 1) 400px
  );
}

/* home page */

/* sponzorji */
.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #e5332a;
}

.sponzorji > img {
  max-height: 2rem;
  max-width: 9rem;
  margin: 0.5rem;
}

.sponzorji {
  margin-bottom: 3rem;
}

.nodeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px
}
.nodeContainer img {
  max-width: 100px;
  margin-right: 1rem;
}

/* razne slike */
.node-slika {
  max-width: 20rem;
  margin-bottom: 1.5rem;
}

/* default layout */
.btn-home {
  border-radius: 0;
}

/* transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* @media screens */

@media (max-width: 480px) {

}

@media (max-width: 576px) {
.multiColumn {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }}

@media (min-width: 576px) {
  .multiColumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (min-width: 768px) {
  .node-slika {
    float: right;
    margin-left: 1.5rem;
  }
}

@media (min-width: 992px) {
  .multiColumn {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
  }
}

@media (min-width: 1200px) {
}
