html {
  min-height: 100vh;
  background: rgb(86, 181, 133);
  background: linear-gradient(35deg,
      rgba(0, 158, 226, 1) 0%,
      rgba(86, 181, 133, 1) 100%);
  background-image: url(/img/global/back_tresk11.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {}

#app {
  width: 100%;
  background: url(/img/global/grain.png);
  background-attachment: fixed;
  position: absolute;
}

svg {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg|a:link, svg|a:visited {
  cursor: pointer;
}

svg a {
  pointer-events: all;
}

.content-page {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 1) 500px);
  background-attachment: fixed;
}

/* splosno za podstrani */

.sponzorji>img {
  max-height: 2rem;
  max-width: 9rem;
  margin: 0.5rem;
}

iframe {
  width: 100%;
  margin-bottom: 2rem;
}

/* navbar */

a.disabled {
  pointer-events: none;
  color: #aaa !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #e5332a;
}

.btn-home {
  border-radius: 0;
}

.btn-back {
  border-radius: 0;
}

.btn-lang {
  border-radius: 0;
}

/* transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.pogovorContainer figure {
  float: left;
  padding-right: 1.5em;
  max-width: 25%;
}
.pogovorContainer figure figcaption {
  min-height: 11em;
}
.pogovorContainer img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.4em;
}
.pogovorContainer figure p {
  text-align: left !important;
}

.logoArtist {
  width: 100%;
}
.ikoneContainer div a:empty {
  background-color: red;
}
.artistLink {
  float: left;
  margin-right: 1em;
  vertical-align: middle;
  clear: both;
  width: 100%;
}
.artistLink.imgLink {
  order: -10;
  clear: none;
  width: 50px;
  margin-bottom: 1em;
}
.ikoneContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* @media screens */



@media (max-width: 400px) {
  .img-tabla {
    margin-left: -10%;
  }
}
@media (max-width: 1200px) {
  .pogovorContainer figure {
    max-width: 25%;
  }
}

@media (max-width: 992px) {
  .pogovorContainer figure {
    max-width: 25%;
  }
}

@media (max-width: 768px) {
  .pogovorContainer figure {
    max-width: 33.3%;
  }
}
@media (max-width: 576px) {
  .pogovorContainer figure {
    max-width: 50%;
  }
}
@media (max-width: 360px) {
  .img-tabla {
    margin-left: -10%;
  }
  .pogovorContainer figure {
    max-width: 100%;
  }
  .pogovorContainer figure figcaption {
    min-height: 6em;
  }
}
