html {
  min-height: 100vh;
  background: rgb(86, 181, 133);
  background: linear-gradient(35deg,
      rgba(0, 158, 226, 1) 0%,
      rgba(86, 181, 133, 1) 100%);
  background-image: url(/img/global/back_tresk11.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#app {
  width: 100%;
  background: url(/img/global/grain.png);
  background-attachment: fixed;
  position: absolute;
}

svg {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg|a:link,
svg|a:visited {
  cursor: pointer;
}

svg a {
  pointer-events: all;
}

.content-page {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 1) 500px);
  background-attachment: fixed;
}

/* home news modal */

#tresk-news___BV_modal_header_ {
  display: none;
}

.modal-header .close {
  margin: -1.2rem -0.7rem -1.2rem auto;
}

#tresk-news.modal {
  pointer-events: none;
}

#tresk-news___BV_modal_content_ {
  background-color: #ffffffdd;
  border-radius: 0.2rem;
  max-height: 65%;
}

/* home modal */

#tresk-news___BV_modal_outer_ div.modal-dialog {
  position: fixed;
  right: 40px;
  width: 45%;
  bottom: 4%;
}

/* splosno za podstrani */

.sponzorji>img {
  max-height: 2rem;
  max-width: 9rem;
  margin: 0.5rem;
}

iframe {
  width: 100%;
  margin-bottom: 2rem;
}

/* navbar */

a.disabled {
  pointer-events: none;
  color: #aaa !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #212529;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #e5332a;
}

.btn-home {
  border-radius: 0;
}

.btn-back {
  border-radius: 0;
}

.btn-lang {
  border-radius: 0;
}

/* pogovori sub */

.pogovorContainer figure {
  float: left;
  padding-right: 1.5em;
  max-width: 25%;
}

.pogovorContainer figure figcaption {
  min-height: 11em;
}

.pogovorContainer img {
  width: 100%;
  height: 100%;
  margin-bottom: 0.4em;
}

.pogovorContainer figure p {
  text-align: left !important;
}

.logoArtist {
  width: 100%;
}

.ikoneContainer div a:empty {
  background-color: red;
}

.artistLink {
  float: left;
  margin-right: 1em;
  vertical-align: middle;
  clear: both;
  width: 100%;
}

.artistLink.imgLink {
  order: -10;
  clear: none;
  width: 35px;
  margin-bottom: 1em;
}

.ikoneContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* @media screens */

@media (min-height: 1200px) {
  #tresk-news___BV_modal_header_ {
    display: flex;
  }
}

@media (max-width: 400px) {
  .img-tabla {
    margin-left: -9%;
  }
}

@media (max-width: 1200px) {
  .pogovorContainer figure {
    max-width: 25%;
  }

  #tresk-news.modal {}
}

@media (max-width: 992px) {
  .pogovorContainer figure {
    max-width: 25%;
  }

  #tresk-news___BV_modal_content_ {
    max-height: 53%;
  }

  #tresk-news___BV_modal_outer_ div.modal-dialog {
    top: 5.5%
  }
}

@media (max-width: 768px) {
  .pogovorContainer figure {
    max-width: 33.3%;
  }

  #tresk-news.modal {}

  #tresk-news___BV_modal_header_ {
    display: flex;
  }

  #tresk-news___BV_modal_content_ {
    max-height: unset;
  }

  #tresk-news___BV_modal_outer_ div.modal-dialog {
    position: relative;
    right: unset;
    width: unset;
    width: 500px;
    bottom: unset;
    top: unset;
  }

  #tresk-news___BV_modal_content_ {
    max-height: 70%;
  }
}

@media (max-width: 576px) {
  .pogovorContainer figure {
    max-width: 50%;
  }

  #tresk-news___BV_modal_outer_ div.modal-dialog {
    width: auto;
  }

}

@media (max-width: 360px) {
  .img-tabla {
    margin-left: -10%;
  }

  .pogovorContainer figure {
    max-width: 100%;
  }

  .pogovorContainer figure figcaption {
    min-height: 6em;
  }
}
